@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input-block {
    @apply border border-primary-300 rounded-xl py-2 px-3
     text-gray-600 text-base placeholder-gray-400 
   focus:border-blue-500 focus:outline-none focus:ring-blue-500
  }
}
